.Servicos{
    padding-bottom: 5%;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFFFF;

}

.Titulo{
    color: #0096FF;
    margin-bottom: 30px;
    font-weight: bold;

}

.Subtitulo{
    font-weight: normal;
    margin-bottom: 0px;

}